/* font startpoint */
@import url("https://use.typekit.net/lyd4ggk.css");

@font-face {
  font-family: "baskerville-display-pt";
  font-weight: 400;
  font-style: normal;
  src: url('fonts/375535_0_0.eot'); /* IE9 Compat Modes */
  src: url('fonts/375535_0_0.eot?#iefix') format('embedded-opentype'),  /* IE6-IE8 */
       url('fonts/375535_0_0.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/375535_0_0.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/375535_0_0.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
    font-family: "baskerville-display-pt";
    font-weight: 400;
    font-style: italic;
    src: url('fonts/375535_1_0.eot'); /* IE9 Compat Modes */
    src: url('font/375535_1_0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/375535_1_0.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/375535_1_0.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/375535_1_0.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: "baskerville-display-pt";
  font-weight: 700;
  font-style: normal;
  src: url('fonts/375535_2_0.eot'); /* IE9 Compat Modes */
  src: url('fonts/375535_2_0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/375535_2_0.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/375535_2_0.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/375535_2_0.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: "baskerville-display-pt";
  font-weight: 700;
  font-style: italic;
  src: url('fonts/375535_3_0.eot'); /* IE9 Compat Modes */
  src: url('fonts/375535_3_0.eot?#iefix') format('embdedded-opentype'), /* IE6-IE8 */
       url('fonts/375535_3_0.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/375535_3_0.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/375535_3_0.ttf') format('truetype') /* Safar, Android, iOS */
}

/* font endpoint */


/* startpointw */

html {
  background-color: #F2F2F2;
  margin-top: 84px;
}

.bg-overlay {
  background-color: #F8F8F8;
  height: 1486px;
}

.pdshop-logo {
  padding-top: 56px;
  padding-left: 67px;
}

.icon-links {
  height: 64px;
}

/* endpoint */
