/* font startpoint */
@import url("//hello.myfonts.net/count/375535");

@font-face {font-family: 'BaskervilleBT-Roman';src: url('webfonts/375535_0_0.eot');src: url('webfonts/375535_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/375535_0_0.woff2') format('woff2'),url('webfonts/375535_0_0.woff') format('woff'),url('webfonts/375535_0_0.ttf') format('truetype'),url('webfonts/375535_0_0.svg#wf') format('svg');}

@font-face {font-family: 'BaskervilleBT-Italic';src: url('webfonts/375535_1_0.eot');src: url('webfonts/375535_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/375535_1_0.woff2') format('woff2'),url('webfonts/375535_1_0.woff') format('woff'),url('webfonts/375535_1_0.ttf') format('truetype'),url('webfonts/375535_1_0.svg#wf') format('svg');}

@font-face {font-family: 'BaskervilleBT-Bold';src: url('webfonts/375535_2_0.eot');src: url('webfonts/375535_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/375535_2_0.woff2') format('woff2'),url('webfonts/375535_2_0.woff') format('woff'),url('webfonts/375535_2_0.ttf') format('truetype'),url('webfonts/375535_2_0.svg#wf') format('svg');}

@font-face {font-family: 'BaskervilleBT-BoldItalic';src: url('webfonts/375535_3_0.eot');src: url('webfonts/375535_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/375535_3_0.woff2') format('woff2'),url('webfonts/375535_3_0.woff') format('woff'),url('webfonts/375535_3_0.ttf') format('truetype'),url('webfonts/375535_3_0.svg#wf') format('svg');}


/* font endpoint */


/* startpointw */

html {
  background-color: #F2F2F2;
  margin-top: 84px;
}

.bg-overlay {
  background-color: #F8F8F8;
  height: 1486px;
}

.pdshop-logo {
  padding-top: 56px;
  padding-left: 67px;
}

.icon-links {
  height: 64px;
}

.maintitle {
  font-family: "adobe-garamond-pro";
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "liga", "clig";
  -webkit-font-feature-settings: "liga", "clig";
  font-feature-settings: "liga", "clig";
  line-height: 38px;
  font-size: 40px;
  letter-spacing: -.028em;
}

.tk-baskerville-display-pt { font-family: "baskerville-display-pt",serif; }

/* endpoint */
